// Colors
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #d6d6d6;
$colorAccent1: #aa25fd;
$colorAccent2: #df4f2b;

// Style
$radiusSmall: 8px;
$radiusBig: 12px;

// Timing:
$time: 0.2s;

// Breakpoints
$breakpointXlScreen: 1440px;
$breakpointLaptop: 1304px;
$breakpointTablet: 768px;
$breakpointPhone: 376px;
