@import './config';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

.bold {
  font-weight: 600;
}

.icon {
  font-size: 1.75rem;
}

.icon-skill {
  font-size: 4rem;
}

.icon-footer {
  font-size: 2rem;
  margin: 0 1rem;
}
